$frame-height: 250px;
$frame-padding: 30px;
$frame-width: 420px;

.frame {
  width: 100%;
  padding: $frame-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media (min-width: 500px) {
  .frame {
    width: $frame-width;
    height: $frame-height;
    box-shadow:
              0 16px 24px 2px rgba(0,0,0,0.14),
              0 6px 30px 5px rgba(0,0,0,0.12),
              0 8px 10px -7px rgba(0,0,0,0.2);
  }
}
